# --- InfluxDB 설정 ---
INFLUXDB_URL="http://localhost:8086"
INFLUXDB_TOKEN="m7B0P2yETOdQ3M70i9qAk3GvpiEolGak0oQoT27rqnXI5VXvPS_DkK7tqG7-k5Kk_5PQr-MukXFGOsaYN_AD0g=="
INFLUXDB_ORG="sensor_hq"
INFLUXDB_BUCKET="sensor_data"

# --- MARIADB ----
MARIADB_URL="mysql+pymysql://sensor_user:sensor_password@localhost:3306/sensor_db"